# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches de IDE e editores
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de dados locais (se preferir não subir as comandas salvas pro GitHub)
data/cardapio.json
data/pedidos.json
data/comandas.json
data/usuarios.json
